@(userForm: Form[User])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(bootstrapField.f) }

@main("Form") {
  
  <h2>User form</h2>
  
  <div class="alert alert-info">
    <a class="close" data-dismiss="alert">x</a>
    <span class="label label-info">Info</span> Information...
  </div>
  <div class="alert alert-success">
    <a class="close" data-dismiss="alert">x</a>
    <span class="label label-success">Success</span> Success success
  </div>
  <div class="alert alert-error">
    <a class="close" data-dismiss="alert">x</a>
    <span class="label label-important">Error</span> error error
  </div>
  
  @helper.form(routes.Application.form, 'class -> "form-horizontal") {
    <fieldset>
      <legend>User Form</legend>
      @inputText(userForm("id"), '_label -> "ID", 'class -> "span3", 'placeholder -> "1001")
      @inputText(userForm("name"), '_label -> "Name", 'class -> "span4")
      @inputDate(userForm("birth"), '_label -> "Birth", 'class -> "span3", 'placeholder -> "1980/01/01")
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn">Cancel</button>
      </div>
    </fieldset>
  }
  
}