@(users: List[User])

@main("Users") {

  <h2><i class="icon-user"></i>@users.size user(s)</h2>
  
  <div class="alert alert-info">
    <a class="close" data-dismiss="alert">x</a>
    <strong>Info</strong> info Information
  </div>
  <div class="alert alert-success">
    <a class="close" data-dismiss="alert">x</a>
    <strong>Success</strong> success Success
  </div>
  <div class="alert alert-error">
    <a class="close" data-dismiss="alert">x</a>
    <strong>Error</strong> error error
  </div>
  
  <div class="pagination pagination-right">
    <ul>
      <li><a href="#">Prev</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li class="active"><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li><a href="#">7</a></li>
      <li><a href="#">8</a></li>
      <li><a href="#">9</a></li>
      <li><a href="#">10</a></li>
      <li><a href="#">Next</a></li>
    </ul>
  </div>
  
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Birth</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      @users.map { u =>
        <tr>
          <td>@u.id</td>
          <td>@u.name</td>
          <td>@u.birth</td>
          <td><a href="#" class="btn"><i class="icon-pencil"></i>Edit</a> <a href="#" class="btn"><i class="icon-trash"></i>Del</a></td>
        </tr>
      }
    </tbody>
  </table>
  
  <div class="pagination pagination-right">
    <ul>
      <li><a href="#">Prev</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li class="active"><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li><a href="#">7</a></li>
      <li><a href="#">8</a></li>
      <li><a href="#">9</a></li>
      <li><a href="#">10</a></li>
      <li><a href="#">Next</a></li>
    </ul>
  </div>
  
}